---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

$team-green: rgb(0, 96, 55);
$brand-primary: $team-green;

// $navbar-height: 80px;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body#cover-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/team.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand > img {
  max-height: 100%;
  float: left;
  margin-right: 0.5rem;
}

.jumbotron#banner {
  background-color: rgba(0, 0, 0, 0.0);
  margin-top: 20%;

  color: white;//#ddd;
  text-align: left;

  // overflow: hidden;
  img {
    max-width: 35%;
    float: left;
  }

  #blurb {
    text-align: left;
  }

}

#fb-icon:hover > i {
  color: rgb(59, 89, 152);
}

#email-icon:hover > i {
  color: rgb(221, 75, 57);
}

#twitter-icon:hover > i {
  color: rgb(0, 172, 237);
}

p.bg-info {
  padding: 1rem;
}

@import "bootstrap";
