---
layout: page
title: About
permalink: /about/
---

<p class="lead">
  Our goals as a club are to learn the game, play at our best, and above all
  have fun as a team. We welcome all new players, even those who have never
  touched a rugby ball before. We only ask that you come to practice ready to
  run and work hard.
</p>

<p>
  Anyone interested in joining can contact us by email or on Facebook with any
  questions, or simply show up to a practice. We have practices at two different locations
  to accomodate team members who may have to drive farther to reach our home pitch in
  Lockport. Practices are currently held Mondays
  at the <b>Pembroke</b> pitch and Wednesdays at the <b>Lockport</b> pitch
  every week at 6:00pm.
</p>

<div class="row">
  <div class="col-md-6">
    <h3>Lockport Pitch <small>Home games held here</small></h3>
    <p class="bg-info"><b>Practices: Wednesdays at 6:00pm</b></p>
    <address class="">
      100 Davison Rd<br>
      Lockport, NY 14094<br>
    </address>

    {% include lockport-map.html %}

  </div>
  <div class="col-md-6">
    <h3>Pembroke Field</h3>
    <p class="bg-info"><b>Practices: Mondays at 6:00pm</b></p>
    <address class="">
      8771 Alleghany Rd<br>
      Corfu, NY 14036<br>
    </address>

    {% include pembroke-map.html %}
  </div>
</div>
