---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="cover-page">
    <div class="container">
      {% include header.html %}

      <div class="jumbotron clearfix" id="banner">
        <img class="img-responsive" src="/assets/tridentlogo.png" alt="" />
        <h1>Tri-County Tridents</h1>
        <h2>Rugby Football Club</h2>
        <p id="blurb">
          A growing social rugby club welcoming players of all ages and
          experience throughout the Niagara, Erie, and Genesee
          counties of Western New York.
        </p>
        <a href="/about" class="btn btn-primary btn-lg">
          Learn More!
        </a>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
